{{!-- Album --}}
<div class="item shadow">
    <div class="album-art">
        <img src="/img/album.svg" alt="Album Art">
    </div>
    <div class="item-details">
        <p class="item-title">{{dataValues.title}}</p>
        <p class="item-artist">{{dataValues.artist}}</p>
        <p class="item-genre">{{dataValues.genre}}</p>
    </div>
    <div class="favorite">
        <img src="/img/heart.svg">
    </div>
</div>
