{{!-- Item --}}
<div class="item">
    <div class="album-art">
        <img src="/img/album.svg" alt="Album Art">
    </div>
    <div class="item-details">
        <p class="item-title">{{album.title}}</p>
        <p class="item-artist">{{album.artist}}</p>
        <p class="item-genre">{{album.genre}}</p>
    </div>
    <div class="favorite">
        <img src="/img/heart.svg">
    </div>
</div>