{{!-- Navbar --}}
<nav>
    <div id="nav-container" class="shadow">
        <a href="/"><img src="/img/home.svg" alt="Home"></a>
        <a href="/profile/{{id}}"><img src="/img/profile.svg" alt="Profile"></a>
        <a href="/album/new"><img src="/img/add.svg" alt="Add Album"></a>
        <a id="logout"><img src="/img/logout.svg" alt="Logout"></a>
    </div>
</nav>

{{!-- Logout Script --}}
<script src="/handlers/auth/logout_hdlr.js"></script>