{{!-- Navbar --}}
<nav>
    <div id="nav-container" class="shadow">
        <a href="/"><img src="/img/home.svg" alt="Home"><p>Home</p></a>
        <a href="/user/{{id}}"><img src="/img/profile.svg" alt="Profile"><p>Profile</p></a>
        <a href="/album/new"><img src="/img/add.svg" alt="Add Album"><p>New</p></a>
        <a id="logout"><img src="/img/logout.svg" alt="Logout"><p>Logout</p></a>
    </div>
</nav>

{{!-- Logout Script --}}
<script src="/handlers/auth/logout_hdlr.js"></script>