{{!-- Navbar --}}
<nav>
    <div id="nav-container">
        <a><img src="img/home.svg" alt="Home"></a>
        <a><img src="img/profile.svg" alt="Profile"></a>
        <a><img src="img/add.svg" alt="Add Album"></a>
        <a><img src="img/logout.svg" alt="Logout"></a>
    </div>
</nav>