{{!-- Sign Up Card --}}
<main class="flex-center">
    <div id="card" class="shadow">
        <div id="card-container">
            <h2>Sign Up</h2>
            <p>Join TuneStack!</p>
            <input id="username-input" type="text" name="username" placeholder="Username">
            <input id="password-input" type="password" name="password" placeholder="Password"><br>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</main>