:root {
    --darkPurple: rgb(37, 38, 73);;
    --lightBlue: linear-gradient(349deg, rgba(5,153,171,1) 0%, rgba(38,126,191,1) 35%, rgba(53,91,228,1) 100%);
    --purple: linear-gradient(274deg, rgba(69,35,131,1) 0%, rgba(49,19,135,1) 35%, rgba(78,40,125,1) 100%);
    --white: rgb(239, 241, 245);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(31deg, rgba(26,29,37,1) 0%, rgba(19,28,52,1) 35%, rgba(13,33,47,1) 100%);
    background-attachment: fixed;
}

a { 
    color: inherit; 
    text-decoration: none;
}   

main {
    padding-top: 60px; /* Adjust this value to match the header height */
    padding-bottom: 70px; /* Adjust this value to match the navbar height */
    overflow-y: auto; /* Enable scrolling for main content */
}

/* Header */
header {
    background: var(--purple);
    color: var(--white);
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 1; /* Ensure the header is above other elements */
}

header a {
    display: flex; align-items: center;
    height: 100%;
    width: 210px;
}

#logo {
    height: 32px;
    margin: 0 80px 0 10px;
}

/* Navbar */
nav {
    background: var(--darkPurple);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1; /* Ensure the navbar is above other elements */
}

#nav-container {
    background: var(--darkPurple);
    height: 70px;
    width: 100vw;
    display: flex; justify-content: center; align-items: center;
    gap: 30px;

}

nav a {
    height: 40px; width: 40px;
    padding: 5px;
    border-radius: 10px;
}

nav img {
    height: 100%;
}

#logout {
    cursor: pointer;
}

/* Misc */
.flex-center {
    display: flex; align-items: center; justify-content: center;
    min-height: 100vh; width: 100vw;
}

.flex-center-x {
    padding-top: 80px;
    display: flex; align-items: center; flex-direction: column;
    gap: 20px;
}

.shadow {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}