#card {
    background: var(--purple); color: var(--white);
    border-radius: 10px;
    width: 320px;
    display: flex; flex-direction: column; align-items: center;
}

#card h1 {
    font-size: 50px;
    margin-top: 5px;
}

#card img {
    margin-top: -25px;
    width: 80px;
}