#album {
    padding: 80px 0 90px 0;
    color: var(--white);
    gap: 20px;
}

#album-card {
    width: 350px;
    background: var(--darkPurple);
    border-radius: 10px;
}

#album-header {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    gap: 15px;
    padding: 20px 0;
}

#album-art {
    width: 140px;
    padding-left: 10px;
}

#album-art img {
    width: 100%;
    border-radius: 10px;
}

#album-header-details {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#album-header-details h1 {
    font-size: 20px;
    margin: 0;
}

#album-header-details h2 {
    font-size: 16px;
    margin: 0;
}

#album-header-details p {
    font-size: 13px;
    margin: 0;
}

.light-purple {
    color: var(--lightPurple);
}

.divider {
    width: 95%;
    height: 4px;
    background: var(--purple);
}

#album-description {
    width: 100%;
    padding: 0 20px;
    line-height: 2;
}

#album-footer {
    padding: 10px 0;
}

.button {
    width: 60px;
    height: 60px;
    padding: 0 10px;
}

.button img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: .2s;
}

#album-footer {
    padding-top: 15px;
}

#album-footer :nth-child(1):hover {
    filter: brightness(1.3) saturate(0.75);
    transition: .1s;
}

#album-footer :nth-child(2) img:hover {
    filter: brightness(1.5) saturate(2.4) hue-rotate(50deg);
    transition: .1s;
}

.favorited {
    filter: brightness(1.3) saturate(2) hue-rotate(50deg);
    transition: .1s;
}