#album {
    color: var(--white);
    padding: 80px 0 90px 0;
    gap: 20px;
}

#album-card {
    background: var(--darkPurple);
    width: 350px;

    border-radius: 10px;
}

#album-header {

    height: 200px; width: 100%;
    border-radius: 10px;
    gap: 15px;
}

#album-art {
    width: 140px;
    padding-left: 10px;
}

#album-art img {
    width: 100%;
    border-radius: 10px;
}

#album-header-details {
    height: 100%;
    width: 220px;
    display: flex; flex-direction: column; justify-content: center;
    gap: 20px;
}

#album-header-details h1 {
    margin: 0;
    font-size: 20px;
}

#album-header-details h2 {
    font-size: 16px;
    margin: 0;
}

#album-header-details p{
    font-size: 13px;
    margin: 0;
}

.light-purple {
    color: var(--lightPurple);
}

.divider {
    height: 4px;
    width: 95%;
    background: var(--purple);
}

#album-description {
    width: 100%;
    line-height: 2 ;
    padding: 0 20px;
}

#album-footer {
    padding: 10px 0;
}

.button {
    height: 60px; width: 60px;
    padding: 0 10px;
}

.button img {
    height: 60px; width: 60px;
    cursor: pointer;
    transition: .2s;
}

#album-footer :nth-child(1) :hover {
    filter:brightness(1.3) saturate(.75);
    transition: .1s;
}

#album-footer :nth-child(2) :hover {
    filter:brightness(1.3) saturate(2) hue-rotate(50deg);
    transition: .1s;
}