/* Item (Home Page) */
#home {
    padding: 80px 0 90px 0;
    gap: 20px;
}

#home .item {
    background: var(--darkPurple);
    height: 100px; width: 350px;
    border-radius: 10px;
    display: flex; align-items: center;
    cursor: pointer;
}

#home .item-title {
    font-weight: bold;
}

#home .item-artist {
    font-size: 14px;
}

#home .item-genre {
    font-size: 12px;
    color: var(--lightPurple);
}

#home .album-art {
    height: 100%; width: 100px;
    display: flex; align-items: center; justify-content: center;
}

#home .album-art img {
    height: 80px; width: 80px;
    border-radius: 10px;
}

#home .item-details {
    height: 100px; width: 185px;
    display: flex; flex-direction: column; justify-content: center;
}

#home p {
    color: var(--white);
    margin: 3px 0;
}

#home .favorite {
    height: 100%; width: 65px;
    display: flex; align-items: center; justify-content: center;
}

#home .favorite img {
    height: 45px; width: 45px;
}