/* Profile Header */
#profile {
    padding: 80px 0 90px 0;
    gap: 20px;
    color: var(--white);
}

#profile-header {
    width: 350px;
    height: 120px;
    background: var(--purple);
    border-radius: 10px;
    font-size: 14px;
}

#profile-photo-container {
    width: 120px;
    height: 100%;
}

#profile-photo {
    width: 100px;
    border-radius: 10px;
    border: 4px solid rgb(111, 49, 161);
}

#username-container {
    width: 230px;
    height: 100%;
}

/* Favorite */
#favorites-container {
    padding: 0 0 90px 0;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    justify-items: center; 
    max-width: 800px;
    margin: 0 auto;
}
#favorites-container .item {
    width: 350px;
    height: 100px;
    background: var(--darkPurple);
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#favorites-container .album-art {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#favorites-container .album-art img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

#favorites-container .item-details {
    width: 185px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#favorites-container .item-title {
    font-weight: bold;
}

#favorites-container .item-artist {
    font-size: 14px;
}

#favorites-container .item-genre {
    font-size: 12px;
    color: var(--lightPurple);
}

#favorites-container p {
    color: var(--white);
    margin: 3px 0;
}

#favorites-container .favorite {
    width: 65px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#favorites-container .favorite img {
    width: 45px;
    height: 45px;
    transition: .2s;
}

#favorites-container .favorite img:hover {
    filter: brightness(1.3) saturate(2) hue-rotate(50deg);
    transition: .1s;
}

.favorited {
    filter: brightness(1.3) saturate(2) hue-rotate(50deg);
    transition: .1s;
}

/* Two columns at resolutions above mobile */
@media (min-width: 768px) {
    #favorites-container {
        grid-template-columns: repeat(2, 1fr);
        }
    }