{{!-- 404 Page --}}
<main id="error-404" class="flex-center">
    <div id="card" class="flex-center-x shadow">
        <h1>404</h1>
        <img src="/img/404.svg" alt="404" class="shadow">
        <p>Oops! Looks like you're lost.</p>
    </div>
</main>