{{!-- 404 Page --}}
<main id="404" class="flex-center shadow">
    <div id="card">
        <h1>404</h1>
        <img src="/img/404.svg" alt="404" class="shadow">
        <p>Oops! Looks like you're lost.</p>
    </div>
</main>