{{!-- Login page--}}
<main id="login" class="flex-center">
    <div id="card" class="shadow">
        <div id="card-container">
            <h2>Login</h2>
            <p>Welcome to TuneStack!</p>
            <input id="username-input" type="text" name="username" placeholder="Username">
            <input id="password-input" type="password" name="password" placeholder="Password"><br>
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>
</main>