{{!-- New Album Page --}}
<main id="new-album" class="flex-center shadow">
    <div id="new-album-card">
        <h2>Add a New Album</h2>

        <div class="divider"></div>

        <form id="new-album-form">
            <div class="row">
                <div class="label"><label for="title">Album Title:</label></div>
                <input type="text" id="title" name="title" required>
            </div>
            
            <div class="row cloudinary-row">
                <div class="label"><label for="cloudinary_url">Cloudinary URL:</label></div>
                <input type="text" id="cloudinary_url" name="cloudinary_url">
            </div>
            
            <div class="row">
                <div class="label"><label for="external_link">External Link:</label></div>
                <input type="text" id="external_link" name="external_link" required>
            </div>

            <div class="row">
                <div class="label"><label for="year">Year:</label></div>
                <input type="text" id="year" name="year" required>
            </div>
            
            <div class="row">
                <div class="label"><label for="artist">Artist:</label></div>
                <input type="text" id="artist" name="artist" required>
            </div>
            
            <div class="row">
                <div class="label"><label for="genre">Genre:</label></div>
                <input type="text" id="genre" name="genre" required>
            </div>          

            <div class="row">
                <div class="label"><label for="description">Description:</label></div>
                <textarea id="description" name="description" rows="4" cols="50"></textarea>
            </div>
            
            <div class="row">
                <div class="label"><label for="image">Album Cover:</label></div>
                <button id="upload_widget" class="cloudinary-button"> Upload Album Cover</button>
            </div>

            <div class="divider"></div>
            
            <div id="new-album-footer">
                <button id="submit-album" class="shadow"> Submit</button>
            </div>
        </form>
    </div>
</main>

{{!-- New Album Script --}}
<script src="/handlers/forms/new-album_hdlr.js"></script>
