{{!-- Profile Page --}}
<main id="profile">
    <div id="profile-header">
        <img src="/img/profile.svg">
        <h1>{{user.dataValues.username}}</h1>
    </div>
    <div id="profile-body">
        <div id="favorites">
            <h2>Favorites</h2>
            <div>
            </div>
        </div>
        <div>
            <h2></h2>
        </div>
    </div>
</main>