{{!-- Profile Page --}}
<main id="profile" class="shadow flex-center-x">
    <div id="profile-header" class="flex-center">
        <div id="profile-photo-container" class="flex-center">
            <img id= "profile-photo" class="shadow" src="/img/user.svg">
        </div>
        <div id="username-container" class="flex-center">
            <h1>{{user.dataValues.username}}</h1>
        </div>
    </div>
    
    <div id="profile-body">
        <div id="favorites" class="flex-center-x">
            <h2>Favorites</h2>
            <div id="favorites-container" class="flex-center-x">
                {{#each favorites}}
                    {{> favorite-card}}
                {{/each}}
            </div>
        </div>
    </div>
</main>