<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../public/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/pages/404.css">
        <title>TuneStack {{page}}</title>
    </head>

    <body>
        <!-- Header -->
        <header class="shadow">
            <a href="/">
                <h1>TuneStack</h1>
                <img id="logo" src="../../public/img/logo.svg" alt="TuneStack Logo">
            </a>
        </header>

        <!-- 404 -->
        <main id="404" class="flex-center shadow">
            <div id="card">
                <h1>404</h1>
                <img src="../../public/img/404.svg" alt="404">
                <p>Oops! Looks like you're lost.</p>
            </div>
        </main>

        <!-- Navbar -->
        <nav>
            <div id="nav-container" class="shadow">
                <a><img src="../../public/img/home.svg" alt="Home"></a>
                <a><img src="../../public/img/profile.svg" alt="Profile"></a>
                <a><img src="../../public/img/add.svg" alt="Add Album"></a>
                <a><img src="../../public/img/logout.svg" alt="Logout"></a>
            </div>
        </nav>
    </body>
</html>