<!DOCTYPE html>
<html>
<head>
  <title>Album Form</title>
</head>
<body>
  <h2>Add Album</h2>
  <form action="" method="post" enctype="">
    
    <label for="title">Album Title:</label>
    <input type="text" id="title" name="title" required>
    <br><br>

    <label for="cloudinary_url">Cloudinary URL:</label>
    <input type="text" id="cloudinary_url" name="cloudinary_url" required>
    <br><br>

    <label for="external_link">Extrenal Link:</label>
    <input type="text" id="external_link" name="external_link" required>
    <br><br>
    
    <label for="year">Year:</label>
    <input type="text" id="year" name="year" required>
    <br><br>
    
    <label for="artist">Artist:</label>
    <input type="text" id="artist" name="artist" required>
    <br><br>
    
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" required>
    <br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4" cols="50"></textarea>
    <br><br>
    
    <label for="image">Album Cover:</label>
    <button id="upload_widget" class="cloudinary-button"> Upload Album Pic </button>
    <br><br>

    <button id="submit_album" class=""> Submit New Album </button>
    <br><br>

  </form>
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script src="../../utils/cloudinary.js"></script>
</body>
</html>