<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../public/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
        <title>TuneStack {{page}}</title>
    </head>

    <body>
        <!-- Header -->
        <header class="shadow">
            <a href="/">
                <h1>TuneStack</h1>
                <img id="logo" src="../../public/img/logo.svg" alt="TuneStack Logo">
            </a>
        </header>

        <!-- Login/Sign Up Card -->
        <main class="flex-center">
            <div id="card" class="shadow">
                <div id="card-container">
                    <h2>Sign Up</h2>
                    <p>Join TuneStack!</p>
                    <input id="username-input" type="text" name="username" placeholder="Username">
                    <input id="password-input" type="password" name="password" placeholder="Password"><br>
                    <button type="submit">Sign Up</button>
                    <p>Already have an account? <a href="/signup">Login</a></p>
                </div>
            </div>
        </main>
    </body>
</html>